bcrypt==4.1.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
distlib==0.3.8
docutils==0.21.1
filelock==3.13.4
idna==3.7
iniconfig==2.0.0
Kivy==2.3.0
Kivy-Garden==0.1.5
packaging==23.2
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
Pygments==2.17.2
pytest==8.0.2
reportlab==4.1.0
requests==2.31.0
setuptools==69.5.1
urllib3==2.2.1
virtualenv==20.25.3
